* {
  margin: 0;
}
body {
  background-image: linear-gradient(to right, #fdc830, #f37335);
  background-attachment: fixed;
}
.app__container {
  padding: 20px;
}
.app__row {
  display: flex;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
}
.app__sidebar {
  flex: 0.35;
}
.app__main {
  margin: 20px;
  background-color: white;
  flex: 1;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}
@media (max-width: 600px) {
  .app__row {
    flex-direction: column;
  }
  .app__sidebar {
    flex: 0.9;
  }
  .app__main {
    margin: 10px;
    background-color: white;
    flex: 0.9;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
  }
}
