.resume {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resume__background {
  display: flex;
  flex-direction: column;
}
.resume__skills {
  padding-top: 25px;
  display: flex;
}
.resume-languages__body {
  margin-top: 3px;
}
.resumeCard__heading,
.reume-language__heading {
  /* margin-left: 10px; */
  font-size: 1.2rem;
  font-weight: 700;
  color: #fdc830;
  padding: 5px;
}
.resumeCard__body {
  margin-top: 10px;
}
.resumeCard__title {
  font-weight: 700;
  margin-left: 5px;
}
.resumeCard__name {
  font-size: 16px;
  margin-left: 5px;
}
.resumeCard__details {
  font-size: 0.9rem;
  padding-top: 5px;
  margin-left: 5px;
}
.resumeLanguages {
  flex: 1;
}
@media (max-width: 860px) {
  .resume__background {
    flex-direction: column;
  }
  .resume__skills {
    flex-direction: column;
  }
}
